@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #232323;
}
.bg{
    z-index: 0.1;
    position: fixed;
   
  transform: translate()
}
nav,
.scroll,
.header
.project-list {
    opacity: 1;
    visibility: visible;
    transform: all 600ms 700ms;
}
.modal-open nav,
.modal-open .scroll,
.modal-open .header,
.modal-open .project-list {

    opacity: 0;
    visibility: visible;
    transform: all 600ms;
}


li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    background-color: #232323;
}
.title{
 font-size: 120px;
 margin-bottom: 12px;
 text-align: left;
 line-height: 1;   
 color: rgb(255, 255, 255);
}

.blue{
    color: #3cc6e9;
}


p{
    line-height: 1.5;
    font-size: 16px;
}
.click{
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.click:hover{
    transform: scale(1.1);
}
.click:active{
    transform: scale(0.8);
}
.contianer{
    padding: 50px 0;
    width: 100%;
}
.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}
textarea{
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}
input, textarea{
    width: 100%;
    background-color: #232323;
    color: white;
    outline: none;
    border: 3px solid rgb(194, 194, 194);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}
label{
    font-size: 14px;
    font-weight: 500;

}
input:hover, textarea:hover{
    border-color: white;
}
input:focus, textarea:focus{
    border-color: #3cc6e9;
}

/* ---------------




--------landing page------


-------------------------



*/

i.fa-solid.fa-envelope{
    font-size: 32px;
    }
    
    .mail-btn{
        position: fixed;
        width: 70px;
        height: 70px;
    
        border-radius: 50%;
        border: none;
        background-color: #ffffff;
        color: #2a2a2a;
        cursor: pointer;
        
        bottom: 32px;
        right: 40px;
        z-index: 100;
    }
#landing-page{
    min-height: 100vh;
}

.header{
    position:absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) ;
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}
.header-para{
    font-size: 24px;
    line-height: 1.5;
    max-width: 450px;
    color: white;
}

.social-list{
    margin-top: 16px;
    display: flex;
}
.social-link{
    background-color: #3cc6e9;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.scroll{
    position:absolute;
    bottom: 20px;
   left: 50%;
   transform: translate(-50%);
}

.scoll-icon{
    width: 20px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoll-icon::after{
background-color: #ffffff;
content: "";
width: 4px;
height: 6px;
border-radius: 2px;
animation: scroll 1s infinite alternate-reverse;
}

@keyframes scroll {
    0%{
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}
/* ---------------




---------NAV BAR------


-------------------------



*/

#personal-logo{
   width: 80px;
   
}
.nav-logo{
    color: #ffffff;
    letter-spacing: 7px;
    font-weight: 300;
    font-size: 22px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    
  
}

.nav-ink-list{
    display: flex;
    
}

.nav-link{
    margin: 0 12px;
}

.nav-link-ancor{
    font-size: 16px;
    color:#ffffff;
    font-weight:200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.fa-solid{
    font-size: 20px;
}







/* ---------------




---------NAV BAR------


-------------------------



*/

/* MODAL */

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease;
}
.modal-open .modal{
    z-index: 60;
    opacity: 1;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
    visibility: visible;
}
.modal-half{
    width: 50%;
    padding: 40px 72px;
    position: relative;
}

.modal-lanuages{
    display: flex;
   
    flex-wrap: wrap;
}
.modal-lang:hover .lang-name{
opacity: 1;
}

.modal-lang{
    width: 25%;
    padding: 16px ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.lang-name{
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
.modal-lang-img{
    width: 100%;
}


.modal-about{
    display: flex;
    flex-direction: column;
   justify-content: center;
    background-color: rgb(235, 235, 235);
}

.modal-contact{
    background-color: #232323;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-title{
    font-size: 26px;
}

.modal-sub-title{
    margin: 12px 0 24px 0;
    font-size: 14px;
}
.modal-para{
    margin-bottom: 12px;
    line-height: 1.75;
}

.form-item{
    margin-bottom: 20px;
}

.form-submit{
    background-color: #3cc6e9;
    border: 2px solid #3cc6e9;
    color: white;
    font-weight: 600;
    width: 100%;
    max-width: 240px;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.form-submit:hover{
    border-color: white;
    background-color: transparent;
}

.form-submit:active{
    border: #3cc6e9;
    background-color: #3cc6e9;
}
.modal-overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.modaloverlay-loading{
    background-color: #232323;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    z-index: -1;
}
.modal-overlay-success{
background-color: #47c747;
font-size: 40px;
font-weight: 700;
text-align: center;
padding: 28px;
z-index: -1;
}

.modal-overlay-visable{
    z-index: 1;
}

.fa-spinner{
animation: spinner 750ms infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.modal-exit{
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 36px;
    z-index: 100;
    cursor: pointer;
}
/* MODAL */

/* ---------------




---------Projects------


-------------------------



*/



.section-title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
    color:#ffffff;
}

.project-img{
    width: 100%;
    transition: all 600ms ease;
}
.project-wrapper{
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.project-wrapper:hover .project-desc{
    opacity: 1;
    transform: translateY(-50%);

}

.project-wrapper:hover .project-img{
transform: scale(1.07);
filter: blur(5px);
}
.project-wrapper:hover .project-wrapper-bg{
    opacity: 0.7;
}

.project-desc{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease-in-out;
    color: white;
    max-width: 550px;
}
.project-wrapper-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232323;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.project-desc-title{
    font-size: 40px;
}

.project-desc-link{
    color: white;
    font-size: 20px;
    margin-right: 16px;
}
.project-desc-subtitle{
    margin-top: 8px;
}

.project-wrapper{
    margin: 50px 0;
}



/* F
O
O
T
E
R */

footer{
    background-color: #23232300;
     display: flex;
     padding: 6% 0;
     
     z-index: 1;
     position: relative;
}

.footer-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo{
   color: white;
   font-weight: 100;
   letter-spacing: 5px;
   
}
.footer-social-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin:20px 0 ;
}
.footer-social-link,
.footer-copyright{
    color: white;
}

@media (max-width: 768px) {
   
    .title{
        font-size: 80px;
        
    }
    .header-para{
        font-size: 20px;
    }

    .modal{
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
border-radius: 0;
    }
    .modal-half{
        width: 100%;
    }
    .nav-logo{
        font-size: 17px;
    }
    .nav-link-ancor{
        font-size: 14px;
    }
}

@media (max-width: 480px) {
  .title{
      font-size: 52px;
  }
  .header-para{
      font-size: 18px;
  }
  .nav-link:first-child{
      display: none;
  }

  .project-description-para{
      display: none;
  }
  .project-desc{
      left: 0;
      padding: 0;
      text-align: center;
      width: 100%;
  }
  .modal-half{
      padding: 40px;
  }
}