*{
    box-sizing: border-box;
padding: 0;
margin: 0;
}
@font-face {
    font-family: 'Hanson';
    src: url(./fonts/Hanson-Bold.ttf);
}
@font-face {
    font-family:'gilroy' ;
    src: url(./fonts/Gilroy-Light.otf);
}
@font-face {
    font-family:'gilroy-bold' ;
    src: url(./fonts/Gilroy-ExtraBold.otf);
}

body{
    
}

a{
    text-decoration: none;

}

.green--img{
    position: absolute;
    top: -125px;
width: 100%;
z-index:-1 ;
height: 750px;
}

.name{
    position: absolute;
    top: 150px;
  
  z-index: 2;
  max-width: 100%;
}

.nav-links{
    font-size: 19px;
   
}
.nav-link{
    margin-top: 30px;
}
nav{
  display: flex;
 justify-content: center;
    
}

li{
    list-style: none;
    padding: 0 49px;
}

ul{   
     display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

a{
    font-family: 'hanson';
    font-size: 24px;
    color: white;
   
}

.main{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para{
    color: white;
    max-width: 100%;
    width: 500px;
    text-align: center;
    font-family: 'gilroy';
    font-size: 22px;
    position: absolute;
    top: 270px;
}

.tags{
    display: flex;
    position: absolute;
    top: 400px;
}

.links{
    padding: 0 20px;
    width: 58px;
}

.header1{
    font-family: 'gilroy-bold';
    font-size: 25px;
    
}
.header2{
    font-family: 'gilroy';
    font-size: 19px;
}

.cards{
    position:relative;
    top:600px;
  display: flex;
    flex-wrap: wrap;
   justify-content: center;
    
}
.cards-wrap{
    
}
footer{
  
}
.contianer{
    position:relative;
    top: 800px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -14px 63px 0px #dedede ;
   padding-top: 30px;
   
}
.links-footer{
    color: black;
}
.wrapper--footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.col3 a{
   display:flex ;
   flex-direction: column;
   font-family: 'gilroy';
   font-size: 16px;
   padding: 0 70px;
   
}

.title{
    font-family: 'hanson';
    font-size: 25px;
    padding-right: 50px;
}

.col1{
    font-family: 'gilroy';
    font-size: 16px;
    padding: 0 70px;
}

.gray{
    color: #878787;
   
}

.col2{
font-family: 'gilroy';
font-size: 16px;
padding: 0 70px;

}
.bold{
    font-family: 'gilroy-bold';
}