*{
    box-sizing: border-box;
padding: 0;
margin: 0;
}
*{
  overflow: none;
}
@font-face {
    font-family: 'Hanson';
    src: url(./fonts/Hanson-Bold.ttf);
}
@font-face {
    font-family:'gilroy' ;
    src: url(./fonts/Gilroy-Light.otf);
}
@font-face {
    font-family:'gilroy-bold' ;
    src: url(./fonts/Gilroy-ExtraBold.otf);
}

body{
    
}

a{
    text-decoration: none;

}

.green--img{
    position: absolute;
    top: -125px;
width: 100%;
z-index:-1 ;
height: 750px;
}

.name{
    position: absolute;
    top: 150px;
  
  z-index: 2;
  max-width: 100%;
}

.nav-links{
    font-size: 19px;
    font-family: 'gilroy';
}
.nav-link{
    margin-top: 30px;
    
}
nav{
  display: flex;
 justify-content:center;
 align-items: center;
    
}
.btn-port{
    margin-top: 30px;
   
    font-size: 16px;
    background: rgb(255, 255, 255);
   border-radius: 20px;
    padding: 10px 19px;
    color:rgba(34,111,135,1) ;
    font-family: 'gilroy';
  
}


li{
    list-style: none;
    padding: 0 49px;
}

ul{   
     display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

a{
    font-family: 'hanson';
    font-size: 24px;
    color: white;
   
}

.main{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para{
    color: white;
    max-width: 100%;
    width: 500px;
    text-align: center;
    font-family: 'gilroy';
    font-size: 22px;
    position: absolute;
    top: 270px;
}

.tags{
    display: flex;
    position: absolute;
    top: 400px;
}

.links{
    padding: 0 20px;
    width: 58px;
}

.header1{
    font-family: 'gilroy-bold';
    font-size: 25px;
    
}
.header2{
    font-family: 'gilroy';
    font-size: 19px;
}

.cards{
    position:relative;
    top:600px;
  display: flex;
    flex-wrap: wrap;
   justify-content: center;
    
}
.cards-wrap{
    
}
footer{

}
.contianer{
 
    position:fixed;
    top: 855px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -14px 63px 0px #dedede ;
   padding-top: 20px;
   
}
.links-footer{
    color: black;
}
.wrapper--footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.col3 a{
   display:flex ;
   flex-direction: column;
   font-family: 'gilroy';
   font-size: 16px;
   padding: 0 70px;
   
}

.title{
    font-family: 'hanson';
    font-size: 25px;
    padding-right: 50px;
}

.col1{
    font-family: 'gilroy';
    font-size: 16px;
    padding: 0 70px;
}

.gray{
    color: #878787;
   
}

.col2{
font-family: 'gilroy';
font-size: 16px;
padding: 0 70px;

}
.bold{
    font-family: 'gilroy-bold';
}

.black{
    color: black;
}

.about-header{
    font-family: 'hanson';
    font-size: 25px;
    text-align: center;
padding-bottom:20px ;
}

.about-para{
    font-family:'gilroy';
    text-align: center;
    max-width: 800px;
}

.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxes-wrap{
    

    display: grid;
    grid-template-columns: 150px 150px 150px;
   grid-template-rows:  120px 120px 120px ;
   justify-items: center;
   align-items: center;
 
}

.img-box{
    width: 90px;
   
   
}

.contianer-box{
    position: absolute;
   margin-top: 800px;
   margin-bottom: 20px;
}

.hover:hover{
color: black;
}
.hover{
    color: white;
    transition: all 300ms ease-in-out;
}

.test{
 font-size: 15px;
   font-family: 'gilroy';
    text-align: center;
}


.block{
   display: none;
}

.white{
    height: 50%;
    background-color: red;
}
@media (max-height: 915px){
  .contianer{
    position:fixed;
    top: 840px;
  }
}
@media (max-height: 850px){
  .contianer{
    position:fixed;
    top: 780px;
  }
}
@media (max-height: 830px){
  .contianer{
    position:fixed;
    top: 760px;
  }
}
@media (max-height: 814px){
  .contianer{
    position:fixed;
    top: 750px;
  }
}
@media (max-height: 798px){
  .contianer{
    position:fixed;
    top: 740px;
  }
}
@media (max-height: 790px){
  .contianer{
    position:fixed;
    top: 730px;
  }
}
@media (max-height: 770px){
  .contianer{
    position:fixed;
    top: 710px;
  }
}
@media (max-height: 756px){
  .contianer{
    position:fixed;
    top: 700px;
  }
}
@media (max-height: 859px){
    .contianer{
        position:fixed;
        top: 790px;
      }
      
}
@media (max-height: 880px){
    .contianer{
        position:fixed;
        top: 810px;
      }
}
@media (max-width: 1000px){
   .name{
    max-width: 100%;
    width: 600px;
   }
   .para{
    font-size: 18px;
   }
   .nav-links{
    font-size: 17px;
   }
   .btn-port{
    margin-top: 30px;
   
    font-size: 16px;
    background: rgb(255, 255, 255);
   border-radius: 20px;
    padding: 8px 17px;
    color:rgba(34,111,135,1) ;
    font-family: 'gilroy';
  
}
}

@media (max-width: 1280px){
  .col1{
    padding: 0 10px;
  }
  .col2{
    padding: 0 10px;
  }
  .col3{
    padding: 0 10px;
  }

  .title{
    font-size: 20px;
  }
}


@media (max-width: 1000px){
    
   .col1{
    font-size: 13px;
   
   }
   .col2{
    font-size: 13px;
    
   }
   .col3{
    font-size: 13px;
    
   }
   footer{
 display: none;
    
   }
   .text{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header1{
    padding-right: 20px;
  }

}

@media (max-width: 688px) {
    .name{
        width: 500px;
    }
    .para{
        font-size: 15px;
        width: 200px;
    }
 .about-header{
  margin-top: 60px;
 }
 .contianer-box{
  padding-top:60px ;
 }
}



@media (max-width: 580px) {
    .name{
        width: 400px;
    }
}